* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* app styles */
.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
nav {
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.book-list {
  padding: 20px;
  margin-bottom: 20px;
}
.book-list ul {
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}

.button {
  display: flex;
  justify-content: center;
}
.button button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  font-family: sans-serif;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.button button:hover{
  background-color: red;
  color: white;
}

.button button:focus{
  background-color: black;
  color: white;
}